.label {
  padding-left: 12px;
}

.input {
  padding: 12px 12px;

  border: 3px solid var(--green);
  border-radius: var(--radius-m);
  color: var(--sage);

  transition: 0.3s all var(--transition);

  &::placeholder {
    color: var(--sage);
  }

  &:focus {
    border-color: var(--sage);
    background-color: var(--green);
  }
}
